In [2]:
import pandas as pd
import numpy as np

In [9]:
## with one column
subs = pd.read_csv("subs.csv")
if subs.shape[1] == 1:  # Ensure there is only one column
	subs = subs.iloc[:, 0]  # Convert the single column to a Series
subs


subs = subs.squeeze()  # The squeeze method automatically converts a single-column DataFrame to a Series
subs

0       48
1       57
2       40
3       43
4       44
      ...
360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, Length: 365, dtype: int64

In [12]:
vk=pd.read_csv('kohli_ipl.csv', index_col="match_no").squeeze()
vk

match_no
1       1
2      23
3      13
4      12
5       1
       ..
211     0
212    20
213    73
214    25
215     7
Name: runs, Length: 215, dtype: int64

In [14]:
movies=pd.read_csv('bollywood.csv', index_col="movie").squeeze()
movies

movie
Uri: The Surgical Strike                   Vicky Kaushal
Battalion 609                                Vicky Ahuja
The Accidental Prime Minister (film)         Anupam Kher
Why Cheat India                            Emraan Hashmi
Evening Shadows                         Mona Ambegaonkar
                                              ...
Hum Tumhare Hain Sanam                    Shah Rukh Khan
Aankhen (2002 film)                     Amitabh Bachchan
Saathiya (film)                             Vivek Oberoi
Company (film)                                Ajay Devgn
Awara Paagal Deewana                        Akshay Kumar
Name: lead, Length: 1500, dtype: object

In [15]:
## series methods

In [17]:
#head and tail
subs.head()

0    48
1    57
2    40
3    43
4    44
Name: Subscribers gained, dtype: int64

In [18]:
vk.head(3)

match_no
1     1
2    23
3    13
Name: runs, dtype: int64

In [20]:
subs.tail()

360    231
361    226
362    155
363    144
364    172
Name: Subscribers gained, dtype: int64

In [21]:
## sample
movies.sample()

movie
Noor (film)    Sunny Leone
Name: lead, dtype: object

In [22]:
movies.sample(3)

movie
Shorgul              Jimmy Sheirgill
Bhaiaji Superhit          Sunny Deol
D-Day (2013 film)       Rishi Kapoor
Name: lead, dtype: object

In [23]:
## value_counts-> movies
movies.value_counts()

lead
Akshay Kumar        48
Amitabh Bachchan    45
Ajay Devgn          38
Salman Khan         31
Sanjay Dutt         26
                    ..
Diganth              1
Parveen Kaur         1
Seema Azmi           1
Akanksha Puri        1
Edwin Fernandes      1
Name: count, Length: 566, dtype: int64

In [26]:
## sort_values -> inplace
vk.sort_values()

match_no
87       0
211      0
207      0
206      0
91       0
      ...
164    100
120    100
123    108
126    109
128    113
Name: runs, Length: 215, dtype: int64

In [27]:
vk.sort_values(ascending=False, ).head(1).values[0]

113

In [29]:
## sort_index ->inplace->movies
movies.sort_index()

movie
1920 (film)                   Rajniesh Duggall
1920: London                     Sharman Joshi
1920: The Evil Returns             Vicky Ahuja
1971 (2007 film)                Manoj Bajpayee
2 States (2014 film)              Arjun Kapoor
                                   ...
Zindagi 50-50                      Veena Malik
Zindagi Na Milegi Dobara        Hrithik Roshan
Zindagi Tere Naam           Mithun Chakraborty
Zokkomon                       Darsheel Safary
Zor Lagaa Ke...Haiya!            Meghan Jadhav
Name: lead, Length: 1500, dtype: object

## Series Maths methods

In [30]:
## count
vk.count()

215

In [31]:
## sum -> product
subs.sum()

49510

In [32]:
subs.product()

0

In [33]:
# mean, median, mode
subs.mean()

135.64383561643837

In [34]:
subs.median()

123.0

In [36]:
movies.mode()

0    Akshay Kumar
Name: lead, dtype: object

In [37]:
subs.std()

62.67502303725269

In [38]:
vk.var()

688.0024777222344

In [39]:
## min and max
subs.min()

33

In [40]:
subs.max()

396

In [41]:
# describe
vk.describe()

count    215.000000
mean      30.855814
std       26.229801
min        0.000000
25%        9.000000
50%       24.000000
75%       48.000000
max      113.000000
Name: runs, dtype: float64