In [1]:
import pandas as pd
import numpy as np

## create a data frame

In [2]:
## create a dataframe  using list
student_data=[[100,80,10],
               [90,70,20],
               [80,60,30],
               
               [70,50,40]]

In [6]:
pd.DataFrame(student_data,columns=['id','marks','pakage'])

    id  marks  pakage
0  100     80      10
1   90     70      20
2   80     60      30
3   70     50      40

In [9]:
# using a dict
student_dict={'id':[100,90,80,70],
               'marks':[80,70,60,50],
               'pakage':[10,20,30,40]}
pd.DataFrame(student_dict)

    id  marks  pakage
0  100     80      10
1   90     70      20
2   80     60      30
3   70     50      40